<div class="container-fluid p-0 overflow-hidden">
    <div class="container">
      <nav class="navbar bg-white justify-content-between">
        <a class="navbar-brand" href="#">
          <img src="../assets/images/logo.png" height="50px" alt="logo">
        </a>
        <div class="d-flex justify-content-center align-items-center">
          <ul class="nav">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link text-dark" routerLink="/">HOME</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-dark" routerLink="/about">ABOUT US</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link text-dark" href="#">PORTFORLIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">PRODUCTS</a>
            </li> -->
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link text-dark" routerLink="/contact">CONTACT</a>
            </li>
          </ul>
          <div class="d-flex">
            <a class="nav-link text-dark me-2 px-2 py-1 border border-2 border-dark rounded-circle " href="#">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="nav-link text-dark me-2 px-2 py-1 border border-2 border-dark rounded-circle " href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
      </nav>
    </div>
</div>