<div class="container-fluid p-0 overflow-hidden">
  <div class="container">
    <nav class="navbar bg-white justify-content-between">
      <a class="navbar-brand" href="#">
        <img class="img-flui" src="../assets/images/logo.png" height="50px" alt="logo">
      </a>
      <div class="d-flex justify-content-center align-items-center">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active text-warning" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">PORTFORLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">CONTACT</a>
          </li>
        </ul>
        <div class="d-flex">
          <a class="nav-link text-dark me-2 px-2 py-1 border border-2 border-dark rounded-circle " href="#">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a class="nav-link text-dark me-2 px-2 py-1 border border-2 border-dark rounded-circle " href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="container-fluid p-0">
    <img class="img-fluid" src="../assets/images/art-home-header.png" alt="haha">
  </div>
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6 d-flex flex-column">
        <p>With distinguished lighting and unique artefacts, we help craft the ambience and character of the room with details that uniquely reflect the user.</p>
        <p>What sets us apart is that we never stop trying to discover the best in the dynamic world of home decor. world. We have the perfect fits that bring attention to every unique corner, illuminate every turn of the staircase and paint the heart of your room with magnificence.</p>
        <p>Our lighting and artefacts enable you to live in the space of your dreams, filled with your own colour and chemistry.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img class="img-fluid" src="../assets/images/aa2.png" width="300px" alt="aa">
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center py-3">DECORATIVE LIGHTING</h4>
      </div>
      <div class="col-md-6 p-0">
        <img class="img-fluid" src="../assets/images/image 15.png" alt="15">
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <img class="img-fluid" src="../assets/images/C248-arthome 1.png" alt="15">
        <div class="overflow-hidden">
          <p class="p-5">Our collection features an exquisite selection of pendant lamps, chandeliers, wall sconces, artifacts, and wall art. Each item is thoughtfully chosen to bring beauty, style, and sophistication to your space. From stunning lighting fixtures that illuminate and captivate to unique artifacts and wall art that add personality and charm.</p>
        </div>
      </div>
      
    </div>
  </div>
  <div class="container-fluid p-0">
    <img class="img-fluid" src="../assets/images/art-home-header 3.png" alt="haha">
  </div>
  <div class="container-fluid pt-5 d-flex justify-content-center">
    <img class="img-fluid" src="../assets/images/Group 326.png" alt="haha">
  </div>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h4 class="text-center py-3">ARTEFACTS</h4>
    <div style="width: 40%;" class="d-flex flex-column justify-content-center align-items-center">
      <img class="img-fluid" src="../assets/images/Group 325.png" alt="haha">
      <div class="row pt-2">
        <div class="col-md-6">
          <img class="img-fluid" src="../assets/images/Rectangle 253.png" alt="haha">
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="../assets/images/Rectangle 254.png" alt="haha">          
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h4 class="text-center py-3">ARTEFACTS</h4>
    <div style="width: 40%;" class="d-flex flex-column justify-content-center align-items-center">
      <img class="img-fluid" src="../assets/images/Group 331.png" alt="haha">
    </div>
  </div>
  <div class="container-fluid">
    <div class="row pt-5 d-flex justify-content-center align-items-center">
      <div class="col-md-12">
        <h4 class="text-center">ARCHITECTURAL LIGHTING</h4>
      </div>
      <div class="h-100 col-md-6 text-center p-5">
        <h4>LIGHTING SOLUTIONS</h4>
        <p>Our goal is to provide you with not only a functional lighting design but also a visually appealing and transformative experience. Whether it's for residential, commercial, or hospitality projects, we have the expertise and products to create the perfect lighting solution for your space.
          Whether you're looking for ambient lighting to create a warm and inviting atmosphere, task lighting for specific functional areas, accent lighting to highlight architectural features or artworks, or any other lighting effect, we have a wide range of light fixtures to meet your needs.
          </p>
      </div>
      <div class="col-md-6 m-0 p-0 d-flex justify-content-center align-items-center">
        <img class="p-0 m-0 img-fluid" src="../assets/images/image 27.png" alt="haha">
        
      </div>
      <div class="col-md-6 m-0 p-0 d-flex justify-content-center align-items-center">
        <img class="p-0 m-0 img-fluid" src="../assets/images/image 26.png" alt="haha">
      </div>
      <div class="h-100 col-md-6 text-center p-5">
        <h4>VARIETY AND DESIGN</h4>
        <p>
          With an extensive range of light fixtures available at our store, we offer a diverse selection to suit various design styles and lighting requirements.
          Our design services are aimed at creating a harmonious and visually pleasing lighting environment that enhances the functionality, aesthetics, and ambiance of your space. We strive to deliver exceptional results that meet your unique requirements and exceed your expectations.
        </p>
      </div>
    </div>
  </div>
</div>




